doctype html
html
    head
        include includes/head.pug
        link(rel="stylesheet" type="text/css" href="/stylesheet/authorization.css")
    body
        include includes/body.pug
        section.authorization-container
            header Logowanie
            form(method="POST" action="/authorization/login/local")
                input(type="text" name="username" placeholder="Login/Email")
                input(type="password" name="password" placeholder="Hasło")
                button Zaloguj
            a(href="/authorization/login/google")
                button.google Google
            a(href="/authorization/login/facebook")
                button.facebook Facebook
            p Nie masz jeszcze konta? 
                a(href="/authorization/register") Zarejestruj