doctype html
html
    head
        include includes/head.pug
        link(rel="stylesheet" type="text/css" href="/stylesheet/authorization.css")
    body
        include includes/body.pug
        section.authorization-container
            header Rejestracja
            form(method="POST" action="/authorization/register/local")
                input(type="text" name="username" placeholder="Login")
                input(type="text" name="email" placeholder="Email")
                input(type="password" name="password" placeholder="Hasło")
                button Zarejestruj
            p Masz już konto? 
                a(href="/authorization/login") Zaloguj