section.alert#alert
nav.menu-main#menuMain
    header Tarajki
    i.fas.fa-bars.switch#menuButton
    div.container#menuMobileContainer
        a(href="/#intro") Start
        a(href="/#administration") Administracja
        a(href="/#stats") Statystyki
        a(href="/#contact") Kontakt
        if authorizated
            a(href="/panel").important Panel
            a(href="/authorization/logout") Wyloguj
        else
            a(href="/authorization/login").important Zaloguj