section.alert#alert
nav#menu.menu-desktop
    div.container
        a(href="/#intro") Start
        a(href="/#administration") Administracja
        a(href="/#stats") Statystyki
        a(href="/#contact") Kontakt
        if authorizated
            a(href="/panel").important Panel
            a(href="/authorization/logout") Wyloguj
        else
            a(href="/authorization/login").important Zaloguj
nav.menu-mobile
    i.fas.fa-bars.button#menuMobileButton
    div.container#menuMobileContainer
        a(href="/#intro") Start
        a(href="/#administration") Administracja
        a(href="/#stats") Statystyki
        a(href="/#contact") Kontakt
        if authorizated
            a(href="/panel").important Panel
            a(href="/authorization/logout") Wyloguj
        else
            a(href="/authorization/login").important Zaloguj