title Tarajki - Serwer TeamSpeak 3
script(src="https://code.jquery.com/jquery-3.3.1.min.js")
link(href="https://fonts.googleapis.com/css?family=Paytone+One" rel="stylesheet")
link(href="https://fonts.googleapis.com/css?family=Rammetto+One" rel="stylesheet")
link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")
script(src="/javascript/main.js")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" type="text/css" href="/stylesheet/main.css")
if alerts
    each val in alerts
        script.
            initialAlerts.push({
                type:"#{val.type}",
                message:"#{val.message}"
            });